* {
    --main-color: #ed6e00;
    --grey-black: #2b2e2e;
    --light-grey: #eeeeee;
}

body {
    padding: 20px;
    margin: 0;
    background-color: #fff !important;
}

/****************/
/* MAIN CLASSES */
/****************/

/*Score colors*/
.scoreGreen {
    color: #74f174 !important;
    background-color: #74f174 !important;
    box-shadow: initial !important;
}

.scoreOrange {
    color: #fab63a !important;
    background-color: #fab63a !important;
    box-shadow: initial !important;
}

.scoreRed {
    color: #ff4c4c !important;
    background-color: #ff4c4c !important;
    box-shadow: initial !important;
}

.error {
    color: red;
}

.hideMc .container {
    display: none;
}

/******************/
/*END MAIN CLASSES*/
/******************/
.bestMc {
    max-height: 50vh;
    overflow-y: scroll;
}

.card-body.bestMc .container {
    padding: 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.card-body.bestMc .container:last-of-type {
    border-bottom: none;
}

/**************/
/*ANALYSE PAGE*/
/**************/
.analyse-row th {
    cursor: pointer;
}

.analyse-row th:hover {
    background-color: grey;
}

.analyse-page .baseInfo {
    height: 20rem;
}

.analyse-page .baseInfo p {
    margin-bottom: 0px;
}

.info-blocks .empty-cell {
    height: 32px;
    width: 20rem;
}

.analyse-results, .info-blocks {
    border-collapse: collapse;
}

.info-blocks {
    table-layout: fixed;
}

#iRentAYear {
    opacity: 1;
    border: none;
    color: black;
    background-color: transparent;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

div#info-blocks-upper {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

#info-blocks-upper div {
    padding: 10px 10px;
    border-bottom: 3px solid;
}

/******************/
/*END ANALYSE PAGE*/
/******************/
