* {
    --main-color: #ed6e00;
    --grey-black: #2b2e2e;
    --light-grey: #eeeeee;
    font-family: 'Nunito', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff !important;
}

/****************/
/* MAIN CLASSES */
/****************/

/*Score colors*/
.scoreGreen {
    color: #74f174 !important;
    background-color: #74f174 !important;
    box-shadow: initial !important;
}

.scoreOrange {
    color: #fab63a !important;
    background-color: #fab63a !important;
    box-shadow: initial !important;
}

.scoreRed {
    color: #ff4c4c !important;
    background-color: #ff4c4c !important;
    box-shadow: initial !important;
}

.error {
    color: red;
}

.hideMc .container {
    display: none;
}

/******************/
/*END MAIN CLASSES*/
/******************/


/**************/
/*ANALYSE PAGE*/
/**************/

.analyse-page .baseInfo {
    height: 20rem;
}

.analyse-page .baseInfo p {
    margin-bottom: 0;
}

.info-blocks .empty-cell {
    height: 32px;
    width: 20rem;
}

.info-blocks {
    width: 100vw;
    font-size: 13px;
}

.info-blocks tr td {
    width: 30vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}

.info-blocks tr td:nth-of-type(1n + 1){
    padding-right: 5px;
}

.analyse-results{
    font-size: 11px;
}

.analyse-results, .info-blocks {
    border-collapse: collapse;
}

.analyse-results.table th {
    text-align: left;
}

.analyse-results.table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.analyse-results.table tr:last-of-type {
    border-bottom: none;
}

.page-break {
    page-break-after: always;
}

.analyse-results.table td:nth-of-type(1n+2) {
    padding: 5px 0;
    width: 65px;
}

#iRentAYear {
    opacity: 1;
    border: none;
    color: black;
    background-color: transparent;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#info-blocks-upper td {
    padding: 0 20px;
}

/******************/
/*END ANALYSE PAGE*/
/******************/
