<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Motor analyse rapport genereren</div>
          <div class="card-body">
            <div class="form-group">
              <label>Merk:</label>
              <select class='form-control' v-model='brand' @change='getBrandModels(brand); getMcScarcity(true);' name="merk">
                <option value='0' selected>--Selecteer merk--</option>
                <option v-for='data in brands' :value='data.merk_id + "-" + data.omschrijving'>{{
                    data.omschrijving
                  }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>Model:</label>
              <select class='form-control' v-model='model' @change='getModelBuilds(); getMcScarcity();' name="model">
                <option value='0' selected>--Selecteer model--</option>
                <option v-for='data in models' :value='data.model_id + "-" + data.omschrijving'>
                  {{ data.omschrijving }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>Bouwjaar:</label>
              <select class='form-control' v-model='build' name="bouwjaar">
                <option value='0' selected>--Selecteer bouwjaar--</option>
                <option v-for='data in builds'
                        :value='data.bouwjaar_id + "-" + data.bouwjaar_van + "-" + data.bouwjaar_tot + "-" + data.v1'>
                  {{ data.bouwjaar_van }} - {{ data.bouwjaar_tot }}: {{ data.v1 }}
                </option>
              </select>
            </div>
            <br>
            <input type="submit" class="btn btn-primary" value="Rapport genereren">
            <br>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" v-model="checked"
                     @click="setCheck()">Toon beste motoren bij je geselecteerde merk
            </div>
            <input type="button"
                   name="partsLim"
                   @click="getMcScarcity()"
                   value="Check opnieuw">
          </div>
          <div class="row" id="accordionExample">
            <div class="accordion col-6">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Minimale hoeveelheid schaarste:
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Stel hier de minimale schaarste in</p>
                    <input id="scarcityLim" type="number" v-model='scarcityLim' name="scarcityLim" placeholder="0-100"
                           max="100" min="0"><input type="button" name="partsLim" @click="getMcScarcity()"
                                                    value="Check opnieuw">
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion col-6">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Minimale hoeveelheid online onderdelen:
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                     data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Stel hier de minimale hoeveelheid online onderdelen in</p>
                    <input id="partsLim" type="number" v-model='partsLim' name="partsLim"><input type="button"
                                                                                                 name="partsLim"
                                                                                                 @click="getMcScarcity()"
                                                                                                 value="Check opnieuw">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-header">
            Beste motoren van gekozen merk
          </div>
          <div class="card-body bestMc vld-parent">
            <loading v-model:active="isLoading"
                     :active.sync="isLoading"
                     :is-full-page="fullPage"></loading>
            <div id="mcContainer" class="hideMc">
              <div v-for="mc in bestMc" class="container">
                <h3>{{ mc.Merk }}-{{ mc.Model }}: {{ mc.bouwjaar_van }}-{{ mc.bouwjaar_tot }} -> {{
                    mc.schaarstePrc
                  }}%</h3>
                <div class="row">
                  <div class="col-6">Beste inkoop prijs: €{{ mc.bestBuyIn }}</div>
                  <div class="col-6">Totaal onderdelen Online: {{ mc.totaalOnline }}</div>
                </div>
                <div class="row">
                  <div class="col-6">Gemiddelde looptijd: {{ mc.looptijd }}</div>
                  <div class="col-6">Totaal onderdelen Verkocht: {{ mc.totaalVerkocht }}</div>
                </div>
              </div>
            </div>
            <div v-if="checked === false">
              <h4>Om de beste motoren voor je geselecteerde merk te kunnen zien, moet je eerst de checkbox
                aanvinken.</h4>
            </div>
            <div v-if="bestMc.length === 0 && models.length === 0 && checked === true">
              <h2>Selecteer een merk.</h2>
            </div>
            <div v-if="bestMc.length === 0 && models.length > 0 && checked === true">
              <h2>Helaas niks gevonden...</h2>
              <p>Pas de parameters aan of selecteer een ander merk.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// Import component for the loading overlay
import Loading from 'vue-loading-overlay';
// Import stylesheet for the loading overlay
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  mounted() {
    if (this.oldBrand.length < 1){
      this.brand = 0;
    }
    else{
      this.brand = this.oldBrand;
      this.getBrandModels(this.oldBrand);
      if (this.oldModel.length > 0){
        this.model = this.oldModel;
        this.getModelBuilds(this.oldModel);
      }
    }
  },
  data() {
    return {
      brand: 0,
      brands: [],
      model: 0,
      oldModel: oudModel,
      oldBrand: oudMerk,
      models: [],
      build: 0,
      builds: [],
      bestMc: [],
      scarcityLim: 65,
      partsLim: 150,
      isLoading: false,
      fullPage: true,
      checked: false
    }
  },
  components: {
    Loading
  },
  methods: {
    getBrands: function () {
      axios.get('/getBrands')
          .then(function (response) {
            this.brands = response.data;
          }.bind(this));
    },
    getBrandModels: function (brand) {
      axios.get('/getBrandModels', {
        params: {
          brand_id: brand
        }
      }).then(function (response) {
        this.models = response.data;
        this.builds = [];
      }.bind(this));
    },
    getModelBuilds: function () {
      axios.get('/getModelBuilds', {
        params: {
          model_id: this.model
        }
      }).then(function (response) {
        this.builds = response.data;
      }.bind(this));
    },
    //Get and set checkmark
    //Based on the value show or hide the div with the best motorcycle for the current brand
    setCheck() {
      const motorDiv = document.getElementById('mcContainer');
      if (this.checked) {
        this.checked = false;
        motorDiv.classList.toggle('hideMc')
      } else {
        this.checked = true;
        motorDiv.classList.toggle('hideMc')
      }
    },
    //Get the best motorcycle and scarcity based on selected brand; if checkbox is checked fetch motorcycles
    getMcScarcity(newBrand) {
      if (this.checked) {
          if (newBrand){
              this.model = 0
          }
        this.isLoading = true;
        //Get best motorcycle for current brand and/or model
        axios.get('/getMcScarcity', {
          params: {
            brand_id: this.brand,
            model_id: this.model,
            scarcityLim: this.scarcityLim,
            partsLim: this.partsLim
          }
        }).then(function (response) {
          if (response.data > 10) {
            this.bestMc = response.data;
            setTimeout(() => {
              this.isLoading = false
            }, 6000)
          } else {
            this.bestMc = response.data;
            setTimeout(() => {
              this.isLoading = false
            }, 1000)
          }
        }.bind(this));
      }
    },
  },
  created: function () {
    this.getBrands()
  }
}
</script>
